body {
    background: #f0f0f0 url(../images/page-login.png) no-repeat top center;
    background-size: 100% 100%;
}
.page-login {}
.form-login {
    width: 230px;
    margin: 0 auto;
    margin-top: 220px;
    background-color: #FFF;
    border-radius: 8px;
    padding: 20px;
}
.form-login .hd {
    margin-bottom: 20px;
    font-size: 20px;
    color: #137bc8;
}
.form-login .hd span {
    margin-left: 10px;
    font-size: 12px;
    color: #dcdcdc
}
.form-login .cells {}
.form-login .cells .cell {
    margin: 10px 0;
    color: #FFF;
    position: inherit;
}
.form-login .cells .cell .cell__hd,
.form-login .cells .cell .cell__bd {
    display: inline-block;
}
.form-login .cells .cell .cell__hd,
.form-login .cells .cell .cell__hd label {
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
}
.form-login .cells .cell .cell__hd {
    border: #c0c9d3 solid 2px; 
    border-radius: 6px 0 0 6px;
}
.form-login .cells .cell .cell__hd label {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 3px;
}
.form-login .cells .cell .cell__hd label.username {
    background: url(../images/username.png) no-repeat center center;
}
.form-login .cells .cell .cell__hd label.password {
    background: url(../images/password.png) no-repeat center center;
}
.form-login .cells .cell .cell__hd label.verify-code {
    background: url(../images/verify-code.png) no-repeat center center;
}
.form-login .cells .cell .cell__bd input {
    width: 172px;
    border: #c0c9d3 solid 2px;
    border-left: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 0 6px 6px 0;
    vertical-align: top;
}
.form-login .cells .cell .cell__bd input#loginform-verifycode {
    width: 72px;
    border-right: none;
    border-radius: 0;
}
.form-login .cells .cell .cell__bd #btn-send-sms {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: #c0c9d3 solid 2px;
    border-radius: 0 6px 6px 0;
    text-align: center;
    background-color: #F5F5F5;
}
.page-login .help-block {
    font-size: 0.8rem;
    color: #CE3C39
}
.page-login .buttons .btn-login {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #0272c4;
    border-radius: 10px;
    border: none;
    color: #FFF;
    display: block;
    font-size: 18px;
}
.page-login input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-image: none;
    color: rgb(0, 0, 0);
}
.page-login #page-ft {
    width: 100%;
    bottom: 10px;
    position: absolute;
    text-align: center;
    color: #9d9d9d;
}