/* 
Document   : application
Created on : 2013-10-23.21-10-06
Author     : hiscaler
Description: 主样式
*/
/*******************************************************************************
 * Common
 ******************************************************************************/
html, body {
    font-family: \5FAE\8F6F\96C5\9ED1, Tahoma, "宋体";
    font-size: 13px;
    color: #333333;
    padding: 0;
    height: 100%;
    background: #F5F5F5 url(about:blank);
    background-attachment: fixed;
}
body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a {
    color: #4362BF;
    text-decoration: none;
}
a:hover {
    color: #4362BF;
    text-decoration: underline;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, th, var, i {
    font-style: normal;
    font-weight: normal;
}
ol li, ul li {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
q:before, q:after {
    content: "";
}
/*table {
    table-layout: fixed;
}*/
th, td {
    vertical-align: middle;
}
i {
    display: inline;
    overflow: hidden;
    font-size: 12px;
}
iframe {
    background-color: #FFFFFF;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 2px;
}
input {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    font-family: \5FAE\8F6F\96C5\9ED1,Tahoma,Arial,Helvetica,sans-serif;
    font-size: 13px;
    outline: medium none;
    border-radius: 3px;
}
label input {
    font-size: 13px;
    position: relative;
    top: 2px;
}
textarea {
    font-size: 13px;
    overflow: auto;
    padding: 1px 0 0 1px;
    border-radius: 3px;
}
select {
    font-size: 13px;
    padding: 5px 6px;
    border-radius: 3px;
    border: #d5d5d5 solid 1px;
    margin: 0;
    width: 212px;
}
cite {
    display: none;
    line-height: 33px;
    text-indent: -999px;
}
.wrapper {
    display: block;
    margin-bottom: .6em;
    *zoom: 1;
}
.bold {
    font-weight: bold;
}
/* 清除浮动 */
.clearfix:after, .wrapper:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.clearfix, .wrapper {display:block;}
.clear {clear:both;}

.hidden {
    display: none;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
.container {
    display: block;
}
.inner {
    padding: 10px;
}
.ptb {
    padding-top: 10px;
    padding-bottom: 10px;
}
.inner-p10 {
    padding: 10px;
}
.clear-margin {
    margin: 0 !important;
}
/*******************************************************************************
 * Detail view
 ******************************************************************************/
table.detail-view .null {
    color: pink;
}
table.detail-view {
    background: white;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
table.detail-view th, table.detail-view td {
    border: 1px #E9E9E9 solid;
    padding: 8px;
    vertical-align: top;
}
table.detail-view th {
    text-align: right;
    font-weight: bold;
    text-overflow: ellipsis;
    padding: 8px 16px;
    white-space: nowrap;
    color: #999999;
    width: 1px;
    word-break: keep-all; /* for ie */
    white-space: nowrap; /* for chrome */
}
table.detail-view tr.odd {
    background: #FFF;
}
table.detail-view tr.even {
    background: #F5F5F5;
}
table.detail-view tr.odd th {
    background: #F8F8F8;
}
table.detail-view tr.even th {
    background: #F8F8F8;
}
/*******************************************************************************
 * data list
 ******************************************************************************/
ul.list {}
ul.list li {
    line-height: 30px;
    background: url(../images/bullet-blue.png) no-repeat left center;
    padding-left: 16px;
    border-bottom: #F5F5F5 solid 1px;
}
ul.list li.left {
    display: inline-block;
    float: left;
    margin-right: 20px;
}
ul.list li em {
    float: right;
    color: #A2A4A5;
}
/*******************************************************************************
 * 布局
 ******************************************************************************/
/** 布局基础样式 **/
.col-main {
    float: left;
    width: 100%;
    /* bug fix: 主栏没有内容时，在 Firefox 和 Chrome 等浏览器下，布局不对 */
    min-height: 1px;
}
.col-sub, .col-extra,
.col-sub-inner-side, .col-extra-inner-side {
    float: left;
    /*position: relative; 按需设置，仅在需要时添加 */
}
/** 清除浮动 **/
.layout:after,
.main-wrap:after, .col-sub:after, .col-extra:after,
.main-wrap-inner-side:after, .col-sub-inner-side:after, .col-extra-inner-side:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.layout,
.main-wrap, .col-sub, .col-extra,
.main-wrap-inner-side, .col-sub-inner-side, .col-extra-inner-side {
    *zoom: 1;
}
.grid-s6m0e0 {
    /*overflow: hidden*/
}
.grid-s6m0e0 .main-wrap { margin: 0 0 0 161px; }
.grid-s6m0e0 .col-sub {
    width: 160px;
    margin-left: -100%;
    background-color: #F5F5F5;
    border-right: #E9E9E9 solid 1px;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.grid-s6m0e0 .col-extra {}
.grid-s6m0e0 .main-wrap-inner-side { margin: 0 0 0 171px; }
.grid-s6m0e0 .col-sub-inner-side {
    width: 160px;
    margin-left: -100%;
}
#page-hd {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background: #FFF none;
}
#page-bd {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
    background: #FFF none;
    padding-bottom: 40px;
}
#page-ft {
    width: 100%;
    border-top: 1px solid #E9E9E9;
    background-color: #F5F5F5;
    position: fixed;
    bottom: 0;
}
/* normal page */
.normal-page {
    width: 950px;
    margin: 0 auto;
}
.normal-page .npl {
    display: block;
    float: left;
    width: 600px;
    margin-right: 10px;
}
.normal-page .npr {
    display: block;
    float: left;
    width: 340px;
}
/*******************************************************************************
 * Header
 ******************************************************************************/
#header {
    background-color: #1F4E7C;
    border-bottom: 1px solid #000000;
    font-size: 24px;
    height: 50px;
    opacity: 1;
    top: 0;
    width: 100%;
    z-index: 990;
    color: #FFF;
    position: fixed;
    top: 0;
    /* IE6 */
    _position: absolute;
    _top: expression(documentElement.scrollTop + "px");
}
#header #main-menu,
#header #header-account-manage {
    position: absolute;
    white-space: nowrap;
    top: 0;
    height: 50px;
    z-index: 1000;
    font-size: 14px;
}
#header #header-account-manage a {
    font-size: 14px;
    color: #FFF;
    margin: 0 10px;
}
#header #main-menu a {
    font-size: 14px;
    font-weight: bold;
}
#header #main-menu li.i {
    background-position: 5px center;
    background-repeat: no-repeat;
}
#header #main-menu li.icon-user {
    background-image: url(../images/icon-user.png);
}
#header #main-menu li.icon-region {
    background-image: url(../images/icon-region.png);
}
#header #main-menu li.icon-people {
    background-image: url(../images/icon-people.png);
}
#header #logo {
    width: 60px;
    margin-left: 10px;
    margin-top: 2px;
}
#header #logo img {
    width: 48px;
    height: 48px;
}
#header li {
    float: left;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    display: inline-block;
}
#header li a {
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    display: block;
    float: left;
    padding: 0 15px 0 42px;
}
#header li a i {
    margin-left: 10px;
}
#header li.last {
    float: right;
    margin-right: 10px;
}
#header li.last a {
    background: none;
}
#header li.active {
    text-decoration: none;
    line-height: 50px;
    background-color: #417BB6;
}
#header li a:hover {
    text-decoration: none;
    color: #ccc;
}
/* main menu */
#main-menu {
    left: 0;
    color: #FFF;
    margin-left: 70px;
}
/* Header account manage */
#header-account-manage {
    right: 0;
}
#header-account-manage .header-settings {
    background: url(../images/icons.png) no-repeat -1776px -16px!important;
    margin: 17px 0;
}
#header-account-manage li a {
    padding: 0 10px;
}
#header-account-manage li.drop a {
    background-color: #417BB6;
}
#header-account-manage li.change-tenant ul {
    display: none;
}
#header-account-manage li ul {
    width: 200px;
    background-color: #1F4E7C;
    border: #1F4E7C solid 3px;
    border-radius: 0 0 3px 3px;
    clear: both;
    position: fixed;
    margin-top: 50px;
    margin-left: 10px;
}
#header-account-manage li ul li {
    width: 100%;
    display: block;
    height: 30px;
    line-height: 30px;
}
#header-account-manage li ul li a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0!important;
}
#header-account-manage li ul li a:hover,
#header-account-manage li ul li.active a {
    height: 30px;
    line-height: 30px;
    background-color: #417BB6;
    display: block;
    width: 100%;
    font-weight: normal;
}
/*******************************************************************************
 * 操作菜单按钮
 ******************************************************************************/
#menu-buttons {
    padding: 0;
    margin: 0;
}
#menu-buttons ul {
    display: block;
    height: 28px;
    line-height: 28px;
}
#menu-buttons li {
    display: inline-block;
    float: left;
}
#menu-buttons li a {
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin: 0;
    border-bottom: #E9E9E9 solid 1px;
    padding: 0 15px;
    background: #F5F5F5 url(../images/grid-view-header-bg.gif) no-repeat right center;
}
#menu-buttons ul.misc li.first a,
#menu-buttons ul.misc li.first-last a {
    border-left: #E9E9E9 solid 1px;
    border-bottom-left-radius: 3px;
}
#menu-buttons li.first-last a,
#menu-buttons li.last a {
    border-radius: 0 0 3px 0;
    border-right: #E9E9E9 solid 1px;
    background: #F5F5F5;
}
#menu-buttons li.active a,
#menu-buttons li a:hover {
    text-decoration: none;
    color: #DD4B39;
}
/*******************************************************************************
 * Breadcrumbs
 ******************************************************************************/
.breadcrumbs {
    border-bottom: #E9E9E9 solid 1px;
    padding: 10px 10px 10px 40px;
    background: #F5F5F5 url(../images/logo-16x16.png) no-repeat 10px 50%;
    font-size: 14px;
    display: block;
}
.breadcrumbs li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.breadcrumbs li i {
    margin: 0 0 0 10px;
}
.breadcrumbs a, .breadcrumbs li i {
    font-size: 14px;
    font-style: normal;
}
/*******************************************************************************
 * control panel
 ******************************************************************************/
.control-panel {}
.control-panel .inner {
    padding: 10px 5px;
}
.control-panel .btn a {
    display: block;
    height: 24px;
    line-height: 24px;
    border: #E3E3E3 solid 1px;
    background: #F8F8F8;
    text-align: center;
    border-radius: 4px;
}
.control-panel .btn a:hover {
    border: #CCC solid 1px;
}
.control-panel .title {
    height: 58px;
    line-height: 58px;
    font-weight: bold;
    color: #4362BF;
    font-size: 18px;
    border-bottom: #FFF solid 1px;
    overflow: hidden;
}
.control-panel .shortcut {
    background: url("../images/khotkeys.png") no-repeat left center;
    padding-left: 25px;
}
.control-panel .shortcuts {
    border-bottom: #FFF solid 1px;
    border-top: #E9E9E9 solid 1px;
    padding: 5px 0;
}
.control-panel .shortcuts li {
    line-height: 30px;
    display: block;
    text-align: left;
    background-image: url("../images/shortcut-small.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 20px;
    color: #4362BF;
}
.control-panel .shortcuts li.active {
    background-position: 2px 50%;
}
.control-panel .shortcuts li.active ul li {
    background-position: 0 7px;
}
.control-panel .shortcuts li li {
    height: 30px;
    overflow: hidden;
}
.control-panel .shortcuts li i {
    margin-left: 10px;
}
.control-panel .shortcuts li.active {
    border: #E9E9E9 solid 1px;
    border-left: #d04437 solid 3px;
    margin: 0 -6px 0 -3px;
    padding-left: 20px;
    border-right: #FFF solid 1px;
    background-color: #FFF;
    border-radius: 5px 0 0 5px;
}
.control-panel .shortcuts li.active {
    font-weight: bold;
}
.control-panel .shortcuts li.active li {
    font-weight: normal;
}
.control-panel .shortcuts li ul li {
    background: url("../images/bullet-blue.png") no-repeat 0 12px!important;
    padding-left: 10px;
}
.control-panel .shortcuts li ul li.active {
    background: url("../images/right-arrow.png") no-repeat 0 7px!important;
}
.control-panel .shortcuts li ul li.active {
    border: none;
    background-color: #FFF;
    margin: 0 -11px 0 -5px;
    padding-left: 10px;
}
.control-panel .shortcuts li ul li.active a {
    color: #d04437;
    padding-left: 5px;
}
/*******************************************************************************
 * Homapge icons
 ******************************************************************************/
#homepage-icons {
    display: block;
    width: 750px;
    margin: 0 auto;
}
#homepage-icons li {
    display: block;
    width: 120px;
    height: 120px;
    float: left;
    margin: 150px 15px;
}
#homepage-icons li img {
    width: 120px;
    height: 120px;
    border-radius: 120px;
}
#homepage-icons li .name {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}
/*******************************************************************************
 * Account register login form
 ******************************************************************************/
#form-account-reg-login {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px 10px 0 10px;
    width: 400px;
    margin: 0 auto;
}
#form-account-reg-login .success {
    padding: 0;
    margin: 0;
    border: none;
    background: #FFF;
}
#form-account-reg-login .errorMessage {
    border: none;
    padding-left: 130px;
    background: #FFF url(../images/error.png) no-repeat 110px center;
}
#form-account-reg-login .hd {
    border-bottom: #ccc solid 1px;
    margin-bottom: 10px;
    background: url(../images/account-reg-login.png) no-repeat left center;
    padding-left: 40px;
}
#form-account-reg-login .hd h1 {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
}
#form-account-reg-login .bd {}
#form-account-reg-login .bd .entry {
    margin-bottom: 10px;
    display: block;
}
#form-account-reg-login .bd .error {
    margin-bottom: 0;
}
#form-account-reg-login .bd .entry input.g-text {
    width: 240px;
    padding: 8px 4px;
}
#form-account-reg-login .bd .entry label {
    width: 70px;
    display: inline-block;
    font-weight: bold;
    padding: 5px 15px 5px 5px;
    margin-right: 5px;
    position: relative;
    padding-left: 10px;
    margin-left: 10px;
    text-align: right;
    color: #999999;
    clear: both;
    float: none;
}
#form-account-reg-login .bd .entry label.auto {
    width: 160px;
    text-align: left;
    margin: 0;
    padding: 0
}
#form-account-reg-login .bd .buttons {
    padding-left: 115px;
}
#form-account-reg-login .bd .buttons .button {
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
}
#form-account-reg-login .ft {
    border-top: #CCC solid 1px;
}
.social-login-icons {
    width: 245px;
    margin: 0 auto;
}
.social-login-icons li {
    display: inline-block;
    margin: 10px 5px;
    float: left;
}
/*******************************************************************************
 * Notices widget
 ******************************************************************************/
.widget-common {
    border: #D0D1D3 solid 1px;
    border-radius: 5px;
}
.widget-common .hd {
    border-bottom: #D0D1D3 solid 1px;
    height: 30px;
    line-height: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 16px;
    background: #ececec url(../images/notice.png) no-repeat 5px center;
}
.widget-common .bd {
    padding: 10px;
}
/*******************************************************************************
 * 实体数据关联的自定义属性列表
 ******************************************************************************/
.entity-attributes-list {
    padding: 5px 0;
    border: #e9e9e9 solid 1px;
    border-radius: 5px;
}
.entity-attributes-list li,
.entity-attributes-list li a {
    display: inline-block;
    float: left;
}
.entity-attributes-list li a {
    border-right: #e9e9e9 solid 1px;
    padding: 4px 10px;
}
.entity-attributes-list li.last a {
    border-right: none;
}
.entity-attributes-list li.active a {
    font-weight: bold;
    color: #d04437;
}
/*******************************************************************************
 * 登陆日志
 ******************************************************************************/
.widget-user-login-logs {
    margin: 10px;
    padding: 0 10px;
    border: #E9E9E9 solid 1px;
    border-radius: 5px;
}
.widget-user-login-logs .hd {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #4362BF;
    font-size: 20px;
    border-bottom: #E9E9E9 solid 1px;
    border-bottom-width: 3px;
    text-align: center;
    margin: 0 -10px;
    padding: 10px 0;
    background-color: #F5F5F5;
}
.widget-user-login-logs .bd {}
.widget-user-login-logs .bd li {
    padding-left: 10px;
}
.widget-user-login-logs .time-lines {}
.widget-user-login-logs .time-lines .day {
    font-size: 16px;
    color: #4362BF;
    background: #FFF url(../images/timeline.png) no-repeat 0 50%;
    padding: 5px 0 5px 30px;
    margin-left: -18px;
}
.widget-user-login-logs .time-lines .item {
    height: 32px;
    line-height: 32px;
    padding-left: 50px;
    color: #CCC;
    margin-left: -10px;
}
.widget-user-login-logs .time-lines .item .ip,
.widget-user-login-logs .time-lines .item .client-informations {
    margin-left: 10px;
}
/*******************************************************************************
 * 商品图片列表
 ******************************************************************************/
.item-images {}
.item-images li {
    width: 302px;
    height: 432px;
    display: block;
    float: left;
    margin: 10px;
}
.item-images li img {
    width: 300px;
    height: 400px;
    border: #d2d6de solid 1px;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
}
.item-images li .image span {
    position: absolute;
    margin-top: -400px;
    margin-left: 280px;
    top: auto;
}
.item-images li input {
    width: 290px;
    border: #d2d6de solid 1px;
    border-top: none;
    margin-top: -4px;
}
/*******************************************************************************
 * 租赁站点选择列表
 ******************************************************************************/
#tenants-list {
    width: 320px;
    margin: 50px auto 40px auto;
    border-radius: 5px;
}
#tenants-list .bd {
    padding: 5px 0;
}
#tenants-list li {
    display: block;
    float: left;
    margin: 5px 10px;
    padding: 0;
    line-height: 100%;
    background: none;
    width: 300px;
}
#tenants-list li .base a {
    display: block;
    border-radius: 5px;
    border: #999 solid 1px;
    text-align: center;
    background-color: #F5F5F5;
}
#tenants-list li a:hover {
    border-color: #4362BF;
    background-color: #EEE;
    text-decoration: none;
}
#tenants-list li a span {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
}
#tenants-list li a span.name {
    border-bottom: #999 solid 1px;
    font-weight: bold;
}
#tenants-list li a span.name em {
    float: right;
}
#tenants-list li a span.description {
    color: #666666;
}
#tenants-list li .actions {
    margin-left: 5px;
}
#tenants-list li .actions a {
    display: inline-block;
    border: #999 solid 1px;
    border-top: none;
    border-right: none;
    padding: 3px 10px;
}
#tenants-list li .actions a.first {
    border-radius: 0 0 0 3px;
}
#tenants-list li .actions a.last {
    border-radius: 0 0 3px 0;
    border-right: #999 solid 1px;
}
#grid-person-family-social-relations {}
#grid-person-family-social-relations td input {
    border: none;
    background: none;
}
#grid-person-family-social-relations td.title,
#grid-person-family-social-relations td.title input {
    width: 100px;
}
#grid-person-family-social-relations td.username,
#grid-person-family-social-relations td.username input {
    width: 100px;
}
#grid-person-family-social-relations td.age,
#grid-person-family-social-relations td.age input {
    width: 60px;
}
#grid-person-family-social-relations td.party,
#grid-person-family-social-relations td.party input {
    width: 100px;
}
/*******************************************************************************
 * Footer
 ******************************************************************************/
#footer {
    margin: 0 auto;
    text-align: right;
    color: #666666;
    padding: 10px;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer a {
    color: #666666;
    margin: 0 12px;
    text-decoration: none;
}