input[type=text].disabled, select.disabled, input[type=password].disabled, input.disabled, textarea.disabled {
    background: #F5F5F5;
}
.g-text {
    background: url(../images/input-bg.png) repeat-x scroll 0 -130px #fff;
    border: 1px solid #AAAAAA;
    height: 14px;
    padding: 5px 5px 6px;
    width: 180px;
}
.g-text-username {
    width: 80px;
}
.g-text-tel {
    width: 80px;
}
.g-text:focus {
    border-color: #999;
}
.g-text-area {
    background: url(../images/input-bg.png) repeat-x scroll 0 -130px #fff;
    border: 1px solid #AAAAAA;
    width: 604px;
    height: 120px;
    max-height: 450px;
    font-size: 12px;
    line-height: 24px;
    padding: 5px 5px 6px;
    resize: none;
}
.g-text-area:focus {
    border-color: #999;
}
.g-editor {
    background-color: #ccc;
    width: 600px;
    height: 200px;
}
.icon-date-picker {
    width: 100px;
    background: #FFF url(../images/calendar.png) no-repeat 90px 50%!important;
}
.icon-datetime-picker {
    width: 140px;
    background: #FFF url(../images/calendar.png) no-repeat 120px 50%!important;
}
.button {
    border: #ccc solid 1px;
    border-radius: 3px;
    background: #F5F5F5;
    display: inline-block;
    padding: 3px 5px;
    cursor: pointer;
    color: #4362BF;
}
.large-button {
    padding: 5px 10px;
}
.button:hover {
    border-color: #3b7fc4;
}
.btn-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #4362BF;
    color: #FFF;
    text-align: center;
    font-size: 130%;
    vertical-align: middle;
}
.btn-circle:hover {
    text-decoration: none;
    color: #F5F5F5;
}
.loading, .processing, .running, .running-c-c {
    background: url(../images/loading.gif) no-repeat;
}
.running-c-c {
    background-position: center center;
}
.lock-ui {
    background: url(../images/lock-ui-running.gif) no-repeat center center;
}
#infscr-loading {
    border: #ccc solid 1px;
    border-radius: 3px;
    background-color: #F5F5F5;
    display: block;
    text-align: center;
    padding: 0 10px;
    width: 300px;
    margin: 0 auto;
}
/*******************************************************************************
 * 通用 Tabs 样式
 ******************************************************************************/
.tabs-common {
    margin: 0;
}
.tabs-common {
    display: block;
    height: 25px;
    border-bottom: 1px solid #E9E9E9;
}
.tabs-common li {
    float: left;
    list-style: none outside none;
    margin: 0 6px;
}
.tabs-common li.active a {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: #DD4B39 solid 2px;
    border-bottom: 1px solid #F8F8F8;
    color: #4362BF;
    font-weight: bold;
}
.tabs-common a:hover {
    background: none repeat scroll 0 0 #F5F5F5;
}
.tabs-common a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFF;
    border-color: #E9E9E9;
    border-style: solid solid none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px 1px medium;
    color: #666677;
    display: block;
    padding: 0.25em 1em;
    text-decoration: none;
}
.tabs-common li .badges {
    margin-left: 5px;
}
.panels {
    border: 1px solid #E9E9E9;
    border-top: none;
    padding: 10px;
    border-radius: 0 0 5px 5px
}

/*******************************************************************************
 * label
 ******************************************************************************/
.label {
    display: inline-block;
    float: left;
    padding: 3px 5px;
}
.label-active, .label:hover {
    border-bottom: #205081 solid 2px;
}
.label:hover {
    text-decoration: none;
}
/*******************************************************************************
 * Site error
 ******************************************************************************/
.site-error {
    padding: 50px 140px;
}
.site-error h1 {
    background: url(../images/error-message.png) no-repeat left center;
    padding-left: 40px;
}
.site-error .message {
    color: #e4393c;
}
/*******************************************************************************
 * Message box
 ******************************************************************************/
.alert, .notice, .success, .info {
    padding: 0.8em;
    margin: 10px;
    border: 1px solid #ddd;
}
.alert a, .notice a, .success a, .info a {
    color: #4362BF;
}
.alert {
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4;
}
.notice {
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324;
}
.success {
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
}
.info {
    background: #d5edf8;
    color: #205791;
    border-color: #92cae4;
}
/*******************************************************************************
 * Badges
 ******************************************************************************/
.badges {
    border-radius: 3px;
    padding: 0 4px;
}
.badges:hover {
    color: #FFF;
}
.badges-blue {
    background-color: #4362BF;
    color: #FFF;
}
.badges-bright-blue {
    background-color: #3b73af;
    color: #FFF;
}
.badges-gray {
    background-color: #CCCCCC;
    color: #333333;
}
.badges-light-gray {
    background-color: #3b73af;
    color: #f5f5f5;
}
.badges-red {
    background-color: #d04437;
    color: #FFF;
}
/*******************************************************************************
 * List view
 ******************************************************************************/
.list-view-loading {
    background:url(../images/loading.gif) no-repeat center center;
}
.list-view .summary {
    margin: 0 0 5px 0;
    text-align: right;
}

.list-view .sorter {
    margin: 0 0 5px 0;
    text-align: right;
}
.list-view .sorter {
    font-size: 0.9em;
}
.list-view .sorter ul {
    display: inline;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.list-view .sorter li {
    display: inline;
    margin: 0 0 0 5px;
    padding: 0;
}
.list-view .sorter a.asc {
    background: url(../images/up.gif) right center no-repeat;
    padding-right: 10px;
}
.list-view .sorter a.desc {
    background: url(../images/down.gif) right center no-repeat;
    padding-right: 10px;
}
.list-view span.empty {
    display: block;
    background: #fff6bf url(../images/notice.png) no-repeat 10px 50%;
    color: #514721;
    padding: 10px 10px 10px 30px;
    margin: 10px;
    border: 1px solid #ffd324;
}
/*******************************************************************************
 * Pagination
 ******************************************************************************/
ul.pagination {
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 5px 0;
}
ul.pagination li {
    display: inline;
    margin: 0;
    float: left;
}
ul.pagination a,
ul.pagination span {
    padding: 0 10px;
    font-size: 13px;
    display: inline;
    color: #487BB7;
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    border: solid 1px #E9E9E9;
    border-right: none;
    float: left;
}
ul.pagination li.prev a,
ul.pagination li.prev span {
    border-radius: 3px 0 0 3px;
}
ul.pagination li.next a,
ul.pagination li.next span {
    border-right: solid 1px #E9E9E9;
    border-radius: 0 3px 3px 0;
}
ul.pagination a:hover,
ul.pagination li.active {
    background: #EEE;
    color: #4362BF;
}
ul.pagination li.disabled span {
    color: #E9E9E9;
}
/*******************************************************************************
 * Message box
 ******************************************************************************/
.message-box {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #FFD324;
    background: #FFF6BF;
}
.message-box .hd {
    height: 30px;
    line-height: 30px;
    background: url(../images/notice.png) no-repeat left center;
    border-bottom: 1px solid #FFD324;
    padding-left: 25px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #487BB7;
}
.message-box .hd em {
    float: right;
    font-size: 12px;
}
.message-box .hd em a.close-button {
    border: #FFD324 solid 1px;
    padding: 0 5px;
    color: #FFD324;
    font-weight: bold;
    text-decoration: none;
}
.message-box .hd em a.close-button:hover {
    color: #6C7B81;
    border: #6C7B81 solid 1px;
}
.message-box .bd {
    padding: 5px 25px;
}
.message-box .bd li {
    line-height: 24px;
    background: url(../images/bullet-blue.png) no-repeat 0 9px ;
    padding-left: 12px;
}
.message-box .bd li.warning {
    color: #d04437;
}
.message-box .bd li.bold {
    font-weight: bold;
}
/*******************************************************************************
 * Error message
 ******************************************************************************/
.message-error {
    background: #F5F5F5;
    margin-bottom: -10px;
}
.message-error .inner {
    width: 600px;
    margin: 0 auto;
    padding: 100px 0;
}
.message-error h2 {
    background: url(../images/error-message.png) no-repeat left center;
    padding: 0 0 0 40px;
    height: 40px;
    line-height: 40px;
    margin: 0;
}
.message-error .content {
    border: #B7320F solid 1px;
    padding: 15px 10px;
    background-color: #fbc2c4;
}
/*******************************************************************************
 * 水平垂直居中
 ******************************************************************************/
#hv-center-outer {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: table;
}
#hv-center-outer[id] {
    display: table;
    position: static;
    *position: relative;
    _position: static;
}
#hv-center-middle {
    position: absolute;
    top: 50%;
    left: 0;
    vertical-align: middle;
    display: table-cell;
    width: 100%;

    *vertical-align: middle;
    *display: table-cell;
    *width: 100%;

    _vertical-align:;
    _display:;
    _width:;
}
#hv-center-middle[id] {
    display: table-cell;
    vertical-align: middle;
    position: static;
    top: 50%;
    left: 0;
    width: 100%;
    *position: absolute;
    _position: ;
}
#hv-center-inner {
    position: relative;
    top: -50%;
    margin: 0 auto;
    text-align: center;
}
#hv-center-content{
    margin: 0 auto;
    text-align:left;
}
#hv-center-content #login {
    width: 500px;
    height: 320px;
}
/*******************************************************************************
 * Smart text input
 ******************************************************************************/
.smart-edit input {
    border: #ccc solid 1px;
    width: 60%;
    padding: 3px;
}
.icon {
    display: inline-block !important;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    font-size: 0;
}
/* glyphicon */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}
.glyphicon-eye-open {
    background-position: -1904px -16px;
}
.glyphicon-pencil {
    background-position: -1166px -16px;
}
.glyphicon-trash {
    background-position: -816px -16px;
}