/* CSS Document */

html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,select {
    margin: 0;
    padding: 0;	
}
body {
    font-family:  Arial, “Microsoft YaHei”, “微软雅黑”, sans-serif;
    font-size:14px;
    color:#333;
    background:#1e4e7c;
}
a {
    color:#0896ba;
}

.log-h-dow {
    position:absolute;
    top:8px;
    right:25px;
    color:#fff;
    font-size:12px;
}
section {
    width:800px;
    height:380px;
    position:absolute;
    background:url(../images/qiang.png) right no-repeat;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-400px;
}
.logo {
    text-align: center;
    padding-top:20px;
    float:left;
}
.log-form {
    float:left;
    width:400px;
    height:305px;
    margin: auto;
    padding:15px;
}
.log-form ul li {
    display:inline-block;
}
.log-form .f-tit {
    width:75px;
    text-align:right;
    color:#fff;
    vertical-align: top;

}
.log-form .f-ipt {
    width:260px;
}
.log-form .f-ipt input{
    width:260px;
    line-height:30px;
    height:30px;
    border:1px solid #ddd;
    border-radius:5px;
}
.f-yzm input{
    width:140px !important;
}
.f-yzm span {
    display:inline-block;
    width: 111px;
    height: 30px;
    overflow:hidden;
    vertical-align:middle;
    margin-left: 5px;
    border: 1px solid #ccc;
    background:#fff;
}
.f-yzm span  img {
    height:32px;}  
.lf-row {
    line-height:50px;
}
.lf-ctl {
    padding-left:80px;  
}
.lf-row {
    margin-bottom: 15px;
    font-weight: bold;
}
.lf-row, lf-ctl .help-block {
    color: #d91414;
    line-height: 24px;
}
.check {
    padding:10px;
    position:relative
}
.check span {
    color:#fff
}
.check input {
    opacity:0;
    filter:alpha(opacity=0)
}
.check input:checked+i {
    background-position:-78px 0
}
.check i {
    display:block;
    width:24px;
    height:24px;
    position:absolute;
    left:0px;
    top:8px;
    background-image: url(../images/CssGaga.png);
    background-position:-52px 0
}
.lf-ctl input.button {
    padding: 12px 40px;
    background:#ffffff;
    color: #1e4e7c;
    border-radius: 5px;
    border: none;
    margin-left: 51px;
    line-height: 12px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}
footer {
    position:absolute;
    bottom:8px;
    color:#fff;
    text-align:center;
    line-height:20px;
    width:100%;
    font-size: 12px;	}
footer a {
    color:#666;
    display:block;
    cursor:pointer;
}
.msg{
    text-align: center;
    line-height: 25px;
    color: #d91414;}