/* Common */
.grid-view-loading {
    background: url(../images/loading.gif) no-repeat;
}
.grid-view {
    width: 100%;
    overflow: auto;
}
.grid-view table.table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-bottom: 0;
}
.grid-view table.table th, .grid-view table.table td {
    border-bottom: 1px #E9E9E9 solid;
    padding: 6px 5px;
    /* 保持不换行 */
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: keep-all; /* for ie */
    white-space: nowrap; /* for chrome */
}
.grid-view table.table th.nowrap, .grid-view table.table td.nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.grid-view table.table th.wrap, .grid-view table.table td.wrap {
    word-break: break-all; /* for ie */
    white-space: normal; /* for chrome */
}
.grid-view table.table th.pointer, .grid-view table.table td.pointer {
    cursor: pointer;
}
.grid-view table.table th {
    border-top: 1px #E9E9E9 solid;
    background: #F5F5F5 url(../images/grid-view-header-bg.gif) no-repeat right center;
    padding: 7px 4px;
    color: #7d8389;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}
.grid-view table.table th.last {
    background: #F5F5F5;
}
.grid-view table.table caption .btn-circle {
    margin: 7px 0 0 2px;
    font-size: 18px;
    position: absolute;
    border: #ccc solid 1px;
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 16px;
    display: inline-block;
    text-align: center;
    background-color: #4362BF;
    color: #FFF;
    vertical-align: top;
}
.grid-view table.table caption .btn-circle:hover {
    text-decoration: none;
    font-weight: bold;
}
.grid-view table.table td label.circle {
    display: inline;
    float: left;
    margin: 5px;
    border-radius: 4px;
    border: #CCC solid 1px;
    padding: 3px 10px;
    background-color: #F5F5F5;
}
.grid-view table.table th a {
    color: #7d8389;
    font-weight: bold;
    text-decoration: none;
}
.grid-view table.table th a:hover {
    color: #3b5998;
}
.grid-view table.table th a.asc {
    background: url(../images/up.gif) right center no-repeat;
    padding-right: 10px;
}
.grid-view table.table th a.desc {
    background: url(../images/down.gif) right center no-repeat;
    padding-right: 10px;
}
.grid-view table.table tr.enabled {
    background: #FFF;
}
.grid-view table.table tr.disabled {
    background: #F5F5F5;
}
.grid-view table.table tr.new {
    background: #FFF6BF;
}
.grid-view table.table tr.even {
    background: #FAFCFF;
}
.grid-view table.table tr.odd {
    background: #FFF;
}
.grid-view table.table tr.block {
    background: #FFF6BF;
}
.grid-view table.table tr.selected td {
    background: #FFFFEF;
}
.grid-view table.table tr.root .name {
    font-weight: bold;
}
.grid-view table.table tr.children-2 .name,
.grid-view table.table tr.children-3 .name,
.grid-view table.table tr.children-4 .name {
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-position: 24px center;
    padding-left: 40px;
}
.grid-view table.table tr.children-3 .name {
    background-position: 40px center;
    padding-left: 56px;
}
.grid-view table.table tr.children-4 .name {
    background-position: 56px center;
    padding-left: 72px;
}
.grid-view table.table tr:hover {
    background: #ECFBD4;
}
.grid-view table.table tr td img {
    border: none;
}
.grid-view .link-column img {
    border: 0;
}
.grid-view .button-column {
    text-align: center;
}
.grid-view .button-column img {
    border: 0;
}
.grid-view .checkbox-column {
    width: 15px;
}
.grid-view .summary {
    margin: 0 0 5px 0;
    line-height: 31px;
    padding-right: 10px;
    text-align: right;
    color: #7d8389;
}
.grid-view .summary b {
    margin: 0 5px;
}
.grid-view .pager {}
.grid-view .empty {
    background: #FFFCC9 url(../images/notice.png) no-repeat 5px center;
    padding: 2px 5px 2px 25px;
    height: 24px;
    line-height: 24px;
}
.grid-view tr.filters td {
    padding: 2px 0 2px 5px;
    margin: 0;
}
.grid-view .filters input {
    border: 1px solid #E9E9E9;
    padding: 4px 5px;
}
.grid-view table.table td.center {
    text-align: center;
}
.grid-view table.table td.pk {
    width: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.grid-view table.table td a.picture {
    padding-right: 20px;
    background: url(../images/picture.png) no-repeat right center;
}
.grid-view table.table td.checkbox {
    width: 20px;
    text-align: center;
}
.grid-view table.table td.serial-number {
    width: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    text-align: center;
}
.grid-view table.table td.alias {
    width: 80px;
}
.grid-view table.table td.pk a {
    color: #999;
}
.grid-view table.table td.date {
    width: 65px;
    text-align: center;
}
.grid-view table.table td.datetime {
    width: 160px;
    text-align: center;
}
.grid-view table.table td.begin-end-date {
    width: 180px;
    text-align: center;
}
.grid-view table.table td.group-name {
    width: 100px;
}
.grid-view table.table td.username {
    width: 60px;
}
.grid-view table.table td.firstname {
    width: 60px;
}
.grid-view table.table td.lastname {
    width: 80px;
}
.grid-view table.table td.sex {
    width: 40px;
    text-align: center;
}
.grid-view table.table td.education-level {
    width: 80px;
    text-align: center;
}
.grid-view table.table td.contact_information {
    width: 80px;
}
.grid-view table.table td.user-role {
    width: 120px;
    text-align: center;
}
.grid-view table.table td.user-group-alias {
    width: 80px;
}
.grid-view table.table td.user-group-name {
    width: 120px;
}
.grid-view table.table td.date-time-ago {
    width: 85px;
    text-align: center;
}
.grid-view table.table td.ip-address {
    width: 96px;
    text-align: center;
}
.grid-view table.table td.ordering {
    width: 40px;
    text-align: center;
}
.grid-view table.table td.ordering input {
    width: 40px;
}
.grid-view table.table td.icon {
    width: 34px;
    text-align: center;
}
.grid-view table.table td.boolean {
    width: 30px;
    text-align: center;
}
.grid-view table.table td.number {
    width: 60px;
    text-align: center;
}
.grid-view table.table td.industry {
    width: 160px;
}
.grid-view table.table td.group-name {
    width: 72px;
}
.grid-view table.table td.url-open-target {
    width: 100px;
}
.grid-view table.table td.url {
    width: 160px;
}
.grid-view table.table td.node-name {
    width: 80px;
}
.grid-view table.table td.data-status {
    width: 66px;
    text-align: center;
}
.grid-view table.table td.region-name {
    width: 100px;
}
.grid-view table.table td.mobile-phone {
    width: 90px;
    text-align: center;
}
.grid-view table.table td.tel {
    width: 90px;
}
.grid-view table.table td.category-name {
    width: 90px;
}
/* Ad */
.grid-view table.table td.ad-space-alias {
    width: 100px;
}
.grid-view table.table td.ad-space-name {
    width: 120px;
}
.grid-view table.table td.ad-space-size {
    width: 100px;
}
.grid-view table.table td.ad-type {
    width: 80px;
    text-align: center;
}
/* base code */
.grid-view table.table td.base-code-code {
    width: 60px;
    text-align: center;
}
.grid-view table.table td.base-code-value {
    width: 80px;
}
/* Lookup */
.grid-view table.table td.lookup-label {
    width: 100px;
}
.grid-view table.table td.lookup-return-type {
    width: 80px;
}
/* Group options */
.grid-view table.table td.group-options-group-name {
    width: 150px;
}
.grid-view table.table td.group-options-text {
    width: 100px;
}
.grid-view table.table td.group-options-value {
    width: 60px;
}
/* Node */
.grid-view table.table td.node-tree {
    padding: 0;
    height: 30px;
    line-height: 30px;
}
.grid-view table.table td.node-tree .level {
    background: url(../images/node-tree.png) no-repeat -109px 0;
    display: inline-block;
    width: 20px;
}
.grid-view table.table td.node-tree .level-0 {}
.grid-view table.table td.node-tree .level-1 { margin-left: 24px; }
.grid-view table.table td.node-tree .level-2 { margin-left: 48px; }
.grid-view table.table td.node-tree .level-3 { margin-left: 96px; }
.grid-view table.table td.node-tree .level-4 { margin-left: 120px; }
.grid-view table.table td.node-tree span.node-parameters {
    display: inline-block;
    width: 16px;
    margin-left: 5px;
    background: url(../images/node-parameters.png) no-repeat center center;
    cursor: pointer;
}
/* article */
.grid-view table.table td.article-alias {
    width: 100px;
}
/* workflow */
.grid-view table.table td.workflow-rule-name {
    width: 120px;
}
.grid-view table.table td.workflow-task-status {
    width: 80px;
    text-align: center;
}
/* Tenant */
.grid-view table.table td.tenant-key {
    width: 80px;
    text-align: center;
}
.grid-view table.table td.tenant-name {
    width: 120px;
}
.grid-view table.table td.domain-name {
    width: 80px;
}
.grid-view table.table td.tenant-language {
    width: 60px;
    text-align: center;
}
.grid-view table.table td.timezone {
    width: 80px;
}
.grid-view table.table td.access-token {
    width: 280px;
}
/* meta */
.grid-view table.table td.meta-object-name {
    width: 80px;
}.grid-view table.table td.meta-form-field-type {
    width: 90px;
}
.grid-view table.table td.meta-key {
    width: 100px;
}
.grid-view table.table td.meta-label {
    width: 100px;
}
.grid-view table.table td.meta-label span {
    color: #ccc;
    margin-left: 10px;
    font-size: 12px;
}
.grid-view table.table td.meta-input-type {
    width: 60px;
}
.grid-view table.table td.meta-return-value-type {
    width: 60px;
}
.grid-view table.table td.meta-default-value {
    width: 60px;
}
/* file upload configs */
.grid-view table.table td.file-upload-config-attribute {
    width: 130px;
}
.grid-view table.table td.file-upload-config-thumb,
.grid-view table.table td.file-upload-config-size {
    width: 100px;
}
.grid-view table.table td.order-sn {
    width: 150px;
    text-align: center;
}
.grid-view table.table td.price {
    width: 60px;
    text-align: center;
}
.grid-view table.table td.quantity {
    width: 60px;
    text-align: center;
}
.grid-view table.table td.amount {
    width: 80px;
    text-align: center;
}
.grid-view table.table td a.preview {
    padding-left: 20px;
    background: url(../images/preview.gif) no-repeat;
}
.grid-view table.table td span.pk {
    color: #E7002E;
    margin-right: 5px;
}
.grid-view table.table td span.alias {
    color: #000;
    background-color: #f5f5f5;
    border: #CCC solid 1px;
    border-radius: 5px;
    padding: 0 5px;
    margin-left: 10px;
}
.grid-view table.table td span.attributes {
    color: #E7002E;
    float: right;
}
.grid-view table.table th.actions, .grid-view table.table td.actions {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.grid-view table.table td a.float-update {
    padding-right: 20px;
}
.grid-view table.table td a.float-update:hover {
    background: url(../images/update.png) no-repeat right center;
}
.grid-view table.table th.button-1 { width: 20px; _width: 30px; }
.grid-view table.table th.buttons-2 { width: 40px; _width: 40px; }
.grid-view table.table th.buttons-3 { width: 60px; _width: 70px; }
.grid-view table.table th.buttons-4 { width: 80px; _widht: 90px; }
.grid-view table.table th.buttons-5 { width: 100px; _widht: 110px; }
.grid-view table.table th.buttons-6 { width: 120px; _widht: 130px; }
.grid-view table.table th.buttons-7 { width: 140px; _widht: 150px; }
.grid-view table.table th.buttons-8 { width: 160px; _widht: 170px; }
.grid-view table.table th.buttons-9 { width: 180px; _widht: 190px; }
.grid-view table.table th.buttons-10 { width: 200px; _widht: 210px; }
/*******************************************************************************
 * Form table
 ******************************************************************************/
.table-form {
    width: 100%;
}
.table-form-view td {
    padding: 4px 0 4px 10px!important;
}
.table-form .outer {
    border: #F5F5F5 solid 3px;
    border-radius: 3px;
    margin-bottom: 0.6em;
}
.table-form .outer .inner {
    border: #E9E9E9 solid 1px;
    padding: 0;
}
.table-form table {
    border-spacing: 0;
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-bottom: 0;
}
.table-form th,
.table-form td {
    border-bottom: #E9E9E9 solid 1px;
    border-right: #E9E9E9 solid 1px;
}
.table-form td.last {
    border-right: none;
}
.table-form td {
    padding: 8px 0px;
}
.table-form th {
    width: 60px;
    text-align: center;
    color: #4362BF;
}
.table-form td label {
    width: 60px!important;
    background: #F5F5F5;
    border-right: #E9E9E9 solid 1px;
    font-weight: bold!important;
    padding: 10px 5px!important;
    text-align: center!important;
    color: #999999!important;
}
.table-form td input,
.table-form td select {
    margin: 3px 10px 0 10px;
}
.table-form td input {
    border: none;
    background: none;
    border-radius: 0;
    /*width: 60px!important;*/
}
.table-form td select {
    width: auto!important;
}
.table-form .has-error input {
    border-bottom: #E7002E solid 1px;
}

.table-form th.username { width: 60px; }
.table-form td.username { width: 60px; }
.table-form td.username input { width: 60px!important; }
.table-form td.photo { width: 120px!important; text-align: center; vertical-align: middle; }
.table-form td.photo img { width: 100px; height: 100px; margin: 5px; }
.table-form td.photo input { width: 70px!important; position: absolute; margin: -20px 0 0 -34px; }
.table-form th.sex { width: 60px; }
.table-form td.sex { width: 60px; }
.table-form th.id-card-number { width: 80px; }
.table-form td.id-card-number input { width: 140px!important; }
.table-form th.nation { width: 60px; }
.table-form td.nation { width: 60px; }
.table-form th.birth-date { width: 60px; }
.table-form td.birth-date input { width: 100px!important; }
.table-form th.join-job-date { width: 60px; }
.table-form td.join-job-date input { width: 100px!important; }
.table-form th.contact-information { width: 60px; }
.table-form td.contact-information input { width: 100px!important; }
.table-form td.email input { width: 200px!important; }
.table-form td.work-information input { width: 700px!important; }
.table-form td.social-title input { width: 700px!important; }
.table-form td.education-school input { width: 500px!important; }

/*******************************************************************************
 * 总宽度748 + 9
 ******************************************************************************/
/*.table-form-comon { width: 847px; }*/
#form-nonpublic-economic-people { width: 900px; }
.table-form-comon input[type="text"] {
    padding: 5px 0;
    width: 100%!important;
}
.table-form-comon .col1 { width: 90px; }
.table-form-comon .col1 input { width: 70px!important; }
.table-form-comon .col2 { width: 88px; overflow: hidden;}
.table-form-comon .col2 input { width: 110px!important; }
.table-form-comon .col2 label { display: block; width: 68px!important; margin: 0 auto; }
.table-form-comon .col12 { width: 178px; }
.table-form-comon .col12 input,
.table-form-comon .col12 label { width: 168px!important; }
.table-form-comon .col3 { width: 93px; }
.table-form-comon .col3 input { width: 83px!important; }
.table-form-comon .col4 { width: 62px; }
.table-form-comon .col4 input { width: 52px!important; }
.table-form-comon .col234 { width: 243px; }
.table-form-comon .col234 input { width: 233px!important; }
.table-form-comon .col5 { width: 58px; }
.table-form-comon .col5 input { width: 48px!important; }
.table-form-comon .col45 { width: 120px; }
.table-form-comon .col45 input { width: 100px!important; }
.table-form-comon .col345 { width: 213px; }
.table-form-comon .col345 input { width: 203px!important; }
.table-form-comon .col4567 { width: 224px; }
.table-form-comon .col4567 input { width: 214px!important; }
.table-form-comon .col345678910 { width: 579px; }
.table-form-comon .col345678910 input { width: 569px!important; }
.table-form-comon .col6 { width: 57px; }
.table-form-comon .col6 input { width: 107px!important; }
.table-form-comon .col7 { width: 47px; }
.table-form-comon .col7 input { width: 37px!important; }
.table-form-comon .col67 { width: 104px; }
.table-form-comon .col67 input { width: 94px!important; }
.table-form-comon .col8 { width: 56px; }
.table-form-comon .col8 input { width: 107px!important; }
.table-form-comon .col9 { width: 110px; }
.table-form-comon .col9 input { width: 100px!important; }
.table-form-comon .col6789 { width: 270px; }
.table-form-comon .col6789 input { width: 260px!important; }
.table-form-comon .col678910 { width: 408px; }
.table-form-comon .col678910 input { width: 358px!important; }
.table-form-comon .col89 { width: 166px; }
.table-form-comon .col89 input { width: 156px!important; }
.table-form-comon .col10 { width: 138px; }
.table-form-comon .col10 input { width: 128px!important; position: absolute; margin-top: -30px; }
.table-form-comon .col10 img { width: 148px!important; height: 139px!important; }
.table-form-comon .col8910 { width: 304px; }
.table-form-comon .col8910 input { width: 294px!important; }
.table-form-comon .col2345678910 { width: 667px; }
.table-form-comon .col2345678910 input { width: 657px!important; }
.table-form-comon th {padding: 5px 0;}


.table-form .center {
    text-align: center;
}

.table-form td.birthday input {
    width: 120px!important;
}

.table-form td.social-title label,
.table-form td.work-information label {
    width: 100px!important;
}
.table-form td.intro label {
    width: 20px!important;
}
.table-form td textarea {
    width: 97%;
    height: 100%;
    border: none;
    border-radius: 0;
    background: none;
}
.table-form tfoot td {
    padding: 10px 0 10px 60px;
}
.table-form tfoot td .btn {
    padding: 5px 20px;
    border: #ccc solid 1px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
/*******************************************************************************
 * 统战阵地
 ******************************************************************************/
.table-position { width: 847px; }
.table-position input[type="text"] {
    padding: 5px 0;
    width: 100%!important;
}
.table-position .col1 { width: 90px; }
.table-position .col1 input { width: 70px!important; }
.table-position .col2 { width: 88px; overflow: hidden;}
.table-position .col2 input { width: 78px!important; }
.table-position .col2 label { display: block; width: 68px!important; margin: 0 auto; }
.table-position .col12 { width: 178px; }
.table-position .col12 input,
.table-position .col12 label { width: 168px!important; }
.table-position .col3 { width: 93px; }
.table-position .col3 input { width: 83px!important; }
.table-position th {padding: 5px 0;}
.table-position td label {
    width: 33.33%!important;
    background-color: #FFF;
    border-bottom: #E9E9E9 solid 1px;
    text-align: left!important;
    font-weight: normal!important;
    border-right: none;
    padding-left: 0!important;
    padding-right: 0!important;
}
.table-position td.categories {
    padding: 0!important;    
}
/*******************************************************************************
 * 统战阵地(商会、团体组织)
 ******************************************************************************/
.table-position-organization { width: 847px; }
.table-position-organization input[type="text"] {
    padding: 5px 0;
    width: 100%!important;
}
.table-position-organization .col1 { width: 90px; }
.table-position-organization .col1 input { width: 70px!important; }
.table-position-organization .col2 { width: 88px; overflow: hidden;}
.table-position-organization .col2 input { width: 78px!important; }
.table-position-organization .col2 label { display: block; width: 68px!important; margin: 0 auto; }
.table-position-organization .col12 { width: 178px; }
.table-position-organization .col12 input,
.table-position-organization .col12 label { width: 168px!important; }
.table-position-organization .col3 { width: 93px; }
.table-position-organization .col3 input { width: 83px!important; }
.table-position-organization th {padding: 5px 0;}
.table-position-organization td label {
    width: 33.33%!important;
    background-color: #FFF;
    border-bottom: #E9E9E9 solid 1px;
    text-align: left!important;
    font-weight: normal!important;
    border-right: none;
    padding-left: 0!important;
    padding-right: 0!important;
}
.table-position-organization td.categories {
    padding: 0!important;    
}
.table-position-religion-activity-place td.categories {
    padding: 0!important;    
}
.table-position-religion-activity-place td.categories label {
    display: block;
    width: 100%!important;
}
.table-position-religion-activity-place input.date-picker {
    width: 80%!important;
}
/*******************************************************************************
 * 民主党派组织
 ******************************************************************************/
.table-democratic-party-organization { width: 847px; }
.table-democratic-party-organization input[type="text"] {
    padding: 5px 0;
    width: 100%!important;
}
.table-democratic-party-organization .col1 { width: 90px; }
.table-democratic-party-organization .col1 input { width: 70px!important; }
.table-democratic-party-organization .col2 { width: 88px; overflow: hidden;}
.table-democratic-party-organization .col2 input { width: 78px!important; }
.table-democratic-party-organization .col3 { width: 93px; }
.table-democratic-party-organization .col3 input { width: 83px!important; }
.table-democratic-party-organization .col4 { width: 93px; }
.table-democratic-party-organization .col4 input { width: 83px!important; }
.table-democratic-party-organization th {padding: 5px 0;}
.table-democratic-party-organization td label {
    width: 33.33%!important;
    background-color: #FFF;
    border-bottom: #E9E9E9 solid 1px;
    text-align: left!important;
    font-weight: normal!important;
    border-right: none;
    padding-left: 0!important;
    padding-right: 0!important;
}
.table-position-religion-activity-place input.date-picker {
    width: 80%!important;
}